doctype 5
html
  head
    title= 'Expediter | ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='menu')
        h1 Menu
        ul
            li
                a(href='/backends') Backends
            li
                a(href='#') Dealers
            li
                a(href='#') Deals
    div(id='content')
        block content