// --- Variables ---
menuWidth = 200px
mainPadding = 20px
CDColor1 = #94b52c

// --- Functions ---
add(a, b)
  a + b

// --- Assignments ---

*
    padding: 0px
    margin: 0px
body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration: none

h1
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black

#menu
  width: menuWidth
  float: left
  padding: mainPadding
  li
    list-style-type: none
    margin-top: 5px
    margin-bottom: 5px
  a
    font-size: 16px


#content
  height: 100%
  padding: mainPadding
  padding-left: add(menuWidth, mainPadding * 3)

.online
  color: green
  font-weight: bold
.offline
.error
  color: red
  font-weight: bold

table.data
  width: 100%

  tr
    height: 40px
    border-bottom: 1px solid black

    .left
      text-align: left
    .center
      text-align: center
    .right
      text-align: right

  th
    background-color: CDColor1
    color: white
    font-size: 16px
  th
  td
    padding-left: 0px;
    padding-right: 0px
    margin: 0px
    font-size: 14px

    img.thumb
      width: 60px
      height: 40px
      border: 1px solid CDColor1


  td.wide
    min-width: 400px




