* {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
}
#menu {
  width: 200px;
  float: left;
  padding: 20px;
}
#menu li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
#menu a {
  font-size: 16px;
}
#content {
  height: 100%;
  padding: 20px;
  padding-left: 260px;
}
.online {
  color: #008000;
  font-weight: bold;
}
.offline,
.error {
  color: #f00;
  font-weight: bold;
}
table.data {
  width: 100%;
}
table.data tr {
  height: 40px;
  border-bottom: 1px solid #000;
}
table.data tr .left {
  text-align: left;
}
table.data tr .center {
  text-align: center;
}
table.data tr .right {
  text-align: right;
}
table.data th {
  background-color: #94b52c;
  color: #fff;
  font-size: 16px;
}
table.data th,
table.data td {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  font-size: 14px;
}
table.data th img.thumb,
table.data td img.thumb {
  width: 60px;
  height: 40px;
  border: 1px solid #94b52c;
}
table.data td.wide {
  min-width: 400px;
}
