extends ../layout

block content
    h1= title
    table(class='data')
        tr
            th Provider
            th Title Image
            th Title
            th Start
            th End
        - each deal in deals
            tr
                td(class='center')= deal.provider
                td(class='center')
                    - if (deal.titleImage)
                        img(class='thumb', src=deal.titleImage + '?width=60&height=40')
                td(class='wide')= deal.title
                td= deal.startDate.format('ll')
                td= deal.endDate.format('ll')

