extends ../layout

block content
  h1= title
  table(class='data')
    tr
      th(class='left') Name
      th Caption
      th(class='left') URL
      th Deals
      th Dealers
      th Status
      th Ping
      th Sync
    - each backend in backends
        tr
            td= backend.name
            td(class='center')
               - if (backend.caption)
                span= backend.caption
               - else
                span Unknown
            backend.caption
            td= backend.url
            td(class='center')
                - if (backend.deals.length > 0)
                 a(href='deals/' + backend.id)= backend.deals.length
                - else
                 span= backend.deals.length
            td(class='center') 0
            td(class='center')
               - if (backend.isOnline)
                span(class='online') Online
               - else if (backend.hadError)
                span(class='error') Error
               - else
                span(class='offline') Offline
            td(class='center')
               - if (backend.isPinging)
                |pinging
               - else
                a(href='/backends/ping/' + backend.id) Ping
            td(class='center')
               - if (backend.isSyncing)
                |syncing
               - else if (backend.isOnline)
                a(href='/backends/sync/' + backend.id) Sync
